body {
    background-color: rgb(255, 255, 255);
    padding:0;
    margin:0;
    width: auto;
    
}
.titre_fr{
    margin-left: 10%;
    font-size: 400%;
    text-align: center;
    color:rgb(0, 0, 0);
}

.titre_en{
    margin-left: 10%;
    font-size: 400%;
    text-align: center;
    color:rgb(0, 0, 0);
}


.titre:hover{
    font-weight:bold;
    color:rgb(48, 48, 48);
}

nav {
    border: solid;
    border-radius: 30px;
    font-size : 115%;
    margin-left: 0%;
    
   
}
nav_plan{
    text-align : center;
    font-size : 100%;
    margin-bottom: 10%;
    width:auto;
   
}

ul {
   
    display:flex;
    justify-content: space-around;
    
   
}


.plan {
    
    display:flex;
    justify-content: space-around;
    border-color: black;
}

a { 
    color: rgb(0, 0, 0);
    text-decoration: none;
   
}

nav li {
   
    display: inline;
    list-style: none;;
   
}

nav ul li a:hover{
    font-weight:bold;
    color:rgb(0, 0, 0);
}



/* fin du header */
/* images */
.image {
    height: 50%;
    width: 50%;
    margin-left: 15%;
}

/*fin image*/

/*Début acceuil*/

.acceuil{
    text-align: center;
    color: black;
    background-color: white;
}

.parcours{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 55%;
    background-color: white;
}

.parcoursgauche{
    width: 60%;
    margin-right:10px;
}

.parcoursimage{
    margin: top 2%;
    float: right;
}

/*fin acceuil*/


/* Styles pour le bouton de défilement */
.scroll-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .scroll-btn span {
    font-size: 24px;
  }

  .lien {
    text-decoration: none; /* Pour supprimer le soulignement par défaut des liens */
    color: blue; /* Couleur par défaut du texte du lien */
    transition: color 0.3s; /* Animation de transition pour un changement fluide de couleur */
  }
  
  .lien:hover {
    color: darkblue; /* Couleur du texte lorsque le lien est survolé */
  }


  .bouton-fr {
    background-image: url('images/fr.png');
    /* Autres propriétés de style que vous souhaitez ajouter */
    width: 40px;
    height: 30px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .bouton-en {
    background-image: url('images/en.png');
    /* Autres propriétés de style que vous souhaitez ajouter */
    width: 40px;
    height: 30px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }