body {
    background-color: black;
    padding:0;
    margin:0;
}
.titre{
    margin-left: 18%;
    font-size: 300%;
    text-align: center;
    color:white;
}

nav {
    text-align : center;
    font-size : 100%;
    border:solid;
    border-radius: 2px;
    border-color: white;
   
}
nav_plan{
    text-align : center;
    font-size : 100%;
    margin-bottom: 80px;
   
}

ul {
    display:flex;
    justify-content: space-around;
   
}

.plan {
    
    display:flex;
    justify-content: space-around;
    border-color: white;
}

a { 
    color: white;
    text-decoration: none;
   
}

nav li {
    display: inline;
    list-style: none;
   
}
nav ul li a:hover{
    font-weight:bold;
    color:white;
}

/* fin du header */
/* images */
.image {
    height: 50%;
    width: 50%
}

/*fin image*/

/*Début acceuil*/

.acceuil{
    text-align: center;
    color: black;
    background-color: white;
}

.parcours{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 55%;
    background-color: white;
}

.parcoursgauche{
    width: 60%;
    margin-right:10px;
}

.parcoursimage{
    margin: top 2%;
    float: right;
}

/*fin acceuil*/
